html {
  background-color: #151515;
}

body {
  margin: 0%;
}

header {
  background-color: #fcfcfc;
}

.headerAcceso {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 2vh;
}
.headerAcceso img {
  width: 300px;
}
.headerAcceso h1 {
  font-size: 50px;
  text-align: center;
  margin: 0%;
  font-style: italic;
}

.headerPaginas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  font-style: italic;
}
.headerPaginas .esteban {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-left: 1vw;
}
.headerPaginas .esteban img {
  width: 70px;
}
.headerPaginas .iconosMenu {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  margin-right: 1vw;
}
.headerPaginas .iconosMenu img {
  width: 30px;
  padding-top: 10px;
}

.gestion {
  text-decoration: none;
  color: #d9d9d9;
  background-color: #232323;
}

.formInicio {
  color: #d9d9d9;
  background-color: #151515;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 4vh;
}

.principal {
  background-color: #151515;
  color: #d9d9d9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  padding-top: 3vh;
  text-align: center;
}

.partes {
  margin-top: 20px;
}

.tarjetaIban {
  position: relative;
  text-align: center;
}

.tarjetaIban h4 {
  position: absolute;
  top: 64%;
  left: 50%;
  margin: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}