section {
  background-color: #151515;
}

main {
  background-color: #151515;
}

#impar {
  color: #d9d9d9;
  background-color: #232323;
}

#par {
  color: #232323;
  background-color: #d9d9d9;
}

.lista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.separador {
  border-left: 1px solid;
  height: 10px;
  margin: 9px;
}

.nuevo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-top: 2vh;
  margin-bottom: 4vh;
  background-color: #151515;
}

.nuevo img {
  width: 40px;
  height: 40px;
}

#par button {
  margin-left: 10px;
  font-size: 16px;
  color: #232323;
  background-color: #d9d9d9;
}

#impar button {
  margin-left: 10px;
  font-size: 16px;
  color: #d9d9d9;
  background-color: #232323;
}

.opt {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: none;
  text-decoration: none;
  background-color: #151515;
  color: #d9d9d9;
}

#listaPrestamosAdmin {
  padding-top: 50px;
}

#Contacto {
  width: 50vw;
}

.imgPerfil {
  width: 50px;
}

@media only screen and (max-width: 785px) {
  .lista {
    display: list-item;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .separador {
    border-left: none;
    display: inline-block;
    height: auto;
    margin: 0;
    width: 100%;
    border-top: 1px solid;
  }
  p {
    text-align: center;
    margin-bottom: 0%;
  }
  .nuevo img {
    width: 30px;
    height: 30px;
  }
  input,
  #par button,
  .imgPerfil,
  #impar button {
    display: block;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1165px) {
  .listadoAdmin .lista {
    display: list-item;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .listadoAdmin .separador {
    border-left: none;
    display: inline-block;
    height: auto;
    margin: 0;
    width: 100%;
    border-top: 1px solid;
  }
  .listadoAdmin p {
    text-align: center;
    margin-bottom: 0%;
  }
  .listadoAdmin .nuevo img {
    width: 30px;
    height: 30px;
  }
  .listadoAdmin input,
  #par button,
  #impar button {
    display: block;
    margin: 0 auto;
  }
}