section, main {
  background-color: #151515;
}

#impar #impar, #impar #par {
  color: #d9d9d9;
  background-color: #232323;
}
#par #impar, #par #par {
  color: #232323;
  background-color: #d9d9d9;
}

#par button, #impar button {
  margin-left: 10px;
  font-size: 16px;
}

input, #par button, #impar button {
  display: block;
  margin: 0 auto;
}

.lista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media only screen and (max-width: 785px), (max-width: 1165px) {
  .lista {
    display: list-item;
  }
}

.separador {
  border-left: 1px solid;
  height: 10px;
  margin: 9px;
}
@media only screen and (max-width: 785px), (max-width: 1165px) {
  .separador {
    border-left: none;
    display: inline-block;
    height: auto;
    margin: 0;
    width: 100%;
    border-top: 1px solid;
  }
}

.nuevo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-top: 2vh;
  margin-bottom: 4vh;
  background-color: #151515;
}
.nuevo img {
  width: 40px;
  height: 40px;
}
@media only screen and (max-width: 785px) {
  .nuevo img {
    width: 30px;
    height: 30px;
  }
}

.opt {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: none;
  text-decoration: none;
  background-color: #151515;
  color: #d9d9d9;
}

#listaPrestamosAdmin {
  padding-top: 50px;
}

#Contacto {
  width: 50vw;
}
@media only screen and (max-width: 785px), (max-width: 1165px) {
  #Contacto {
    width: auto;
  }
}

.imgPerfil {
  width: 50px;
}
@media only screen and (max-width: 785px) {
  .imgPerfil {
    width: 30px;
    height: 30px;
  }
}