section {
  background-color: #151515;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 3vh;
  text-align: center;
}

.recuadro {
  position: relative;
  padding-top: 10px;
  width: 80vw;
  background-color: #d9d9d9;
  color: #232323;
  border-radius: 1%;
}

#boton {
  margin-top: 5%;
  margin-bottom: 20px;
  background-color: #151515;
  color: #d9d9d9;
}

.pincel {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}

@media only screen and (min-width: 1024px) {
  .recuadro {
    width: 50vw;
  }
  #boton {
    margin-top: 3%;
  }
}