$color-fondo:#151515;
$color-header:#fcfcfc;
$contraste-negro:#232323;
$contraste-blanco:#d9d9d9;

html{
    background-color: $color-fondo;
}

@import "components/header.scss";


body{
    margin: 0%;
}

@import "components/formInicio.scss";

@import "components/paginaInicio.scss";