.formInicio{
    color:$contraste-blanco;
    background-color: $color-fondo;
    text-align: center;
    display: grid;
    justify-content: center;
    padding-top: 4vh;
    
}

.principal{
    background-color: $color-fondo;
    color: $contraste-blanco;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    padding-top: 3vh;
    text-align: center;
}