.formInicio{
    color:$contraste-blanco;
    background-color: $color-fondo;
    text-align: center;
    display: grid;
    justify-content: center;
    padding-top: 4vh;
    
}

.principal{
    background-color: $color-fondo;
    color: $contraste-blanco;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    padding-top: 3vh;
    text-align: center;
}

.partes{
    margin-top: 20px;
}

.tarjetaIban{
    position: relative;
    text-align: center;
}

.tarjetaIban h4{
    position: absolute;
    top: 64%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
}