header{
    background-color: $color-header;
}

.headerAcceso{
    display:grid;
    justify-content: center;
    padding-bottom: 2vh;
    img{
        width: 300px;
    }
    h1{
        font-size: 50px;
        text-align: center;
        margin: 0%; 
        font-style: italic;
    }
}

.headerPaginas{
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-style: italic;
    .esteban{
        justify-content:left; 
        margin-left: 1vw;
    }
    .esteban img{
        width: 70px;
    }
    .iconosMenu{
        justify-content: right;
        margin-right: 1vw;
    }
    .iconosMenu img{
        width: 30px;
        padding-top: 10px;
    }
}

.gestion{
    text-decoration: none;
    color: $contraste-blanco;
    background-color: $contraste-negro;
}
