%background-styling {
    background-color: $color-fondo;
}

%odd-even-styling {
    #impar & {
        color: $contraste-blanco;
        background-color: $contraste-negro;
    }
    #par & {
        color: $contraste-negro;
        background-color: $contraste-blanco;
    }
}

%button-styling {
    margin-left: 10px;
    font-size: 16px;
}

%mobile-width {
    display: block;
    margin: 0 auto;
}

section, main {
    @extend %background-styling;
}

#impar, #par {
    @extend %odd-even-styling;
}

.lista {
    display: flex;
    justify-content: center;

    @media only screen and (max-width: 785px), (max-width: 1165px) {
        display: list-item;
    }
}

.separador {
    border-left: 1px solid;
    height: 10px;
    margin: 9px;

    @media only screen and (max-width: 785px), (max-width: 1165px) {
        border-left: none;
        display: inline-block;
        height: auto;
        margin: 0;
        width: 100%;
        border-top: 1px solid;
    }
}

.nuevo {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 2vh;
    margin-bottom: 4vh;
    background-color: $color-fondo;

    img {
        width: 40px;
        height: 40px;

        @media only screen and (max-width: 785px) {
            width: 30px;
            height: 30px;
        }
    }
}

#par button, #impar button {
    @extend %button-styling;
}

.opt {
    display: inline-flex;
    border: none;
    text-decoration: none;
    background-color: $color-fondo;
    color: $contraste-blanco;
}

#listaPrestamosAdmin {
    padding-top: 50px;
}

#Contacto {
    width: 50vw;

    @media only screen and (max-width: 785px), (max-width: 1165px) {
        width: auto;
    }
}

.imgPerfil {
    width: 50px;

    @media only screen and (max-width: 785px) {
        width: 30px;
        height: 30px;
    }
}

input, #par button, #impar button {
    @extend %mobile-width;
}