@mixin section-bg-color {
  background-color: $color-fondo;
}

@mixin flex-container {
  display: flex;
  justify-content: center;
  padding-top: 3vh;
  text-align: center;
}

@mixin common-box {
  position: relative;
  padding-top: 10px;
  width: 80vw;
  background-color: $contraste-blanco;
  color: $contraste-negro;
  border-radius: 1%;
}

@mixin common-button {
  margin-top: 5%;
  margin-bottom: 20px;
  background-color: $color-fondo;
  color: $contraste-blanco;
}

@mixin paintbrush {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}

@mixin profile-image {
  width: 100px;
}

section {
  @include section-bg-color;
}

.container {
  @include flex-container;
}

.recuadro {
  @include common-box;

  @media only screen and (min-width: 1024px) {
    width: 50vw;
  }
}

#boton {
  @include common-button;

  @media only screen and (min-width: 1024px) {
    margin-top: 3%;
  }
}

.pincel {
  @include paintbrush;
}

.imgPerfil {
  @include profile-image;
}