section{
  background-color: $color-fondo;
}

.container{
  display: flex;
  justify-content: center;
  padding-top: 3vh;
  text-align: center;
}

.recuadro{
  position: relative;
  padding-top: 10px;
  width: 80vw;
  background-color: $contraste-blanco;
  color: $contraste-negro;
  border-radius: 1%;
}

#boton{
  margin-top: 5%;
  margin-bottom: 20px;
  background-color: $color-fondo;
  color: $contraste-blanco;
}

.pincel {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}


@media only screen and (min-width: 1024px) {
  .recuadro{
    width: 50vw;
  }
  #boton{
    margin-top: 3%;
  }
}

